<h1><%= @session_recaps.name %></h1>

<%= render @session_recaps %>

<div class="actions">
  <%= link_to 'Edit', edit_session_recaps_path(@session_recaps) %>
  <%= link_to 'Back', session_recapses_path %>
</div>
