<h1><%= @dungeon_templates.name %></h1>

<%= render @dungeon_templates %>

<div class="actions">
  <%= link_to 'Edit', edit_dungeon_templates_path(@dungeon_templates) %>
  <%= link_to 'Back', dungeon_templateses_path %>
</div>
