<h1>Character Features::templateses</h1>

<div id="character_features::templateses">
  <% @character_features::templateses.each do |character_features::templates| %>
    <%= render character_features::templates %>
  <% end %>
</div>

<%= link_to 'New Character Features::templates', new_character_features::templates_path %>
