<h1><%= @character_features::templates.name %></h1>

<%= render @character_features::templates %>

<div class="actions">
  <%= link_to 'Edit', edit_character_features::templates_path(@character_features::templates) %>
  <%= link_to 'Back', character_features::templateses_path %>
</div>
