<h1><%= @solo_sessions.name %></h1>

<%= render @solo_sessions %>

<div class="actions">
  <%= link_to 'Edit', edit_solo_sessions_path(@solo_sessions) %>
  <%= link_to 'Back', solo_sessionses_path %>
</div>
