<h1><%= @ai_dm_suggestions.name %></h1>

<%= render @ai_dm_suggestions %>

<div class="actions">
  <%= link_to 'Edit', edit_ai_dm_suggestions_path(@ai_dm_suggestions) %>
  <%= link_to 'Back', ai_dm_suggestionses_path %>
</div>
