<h1><%= @spell_filter_presets.name %></h1>

<%= render @spell_filter_presets %>

<div class="actions">
  <%= link_to 'Edit', edit_spell_filter_presets_path(@spell_filter_presets) %>
  <%= link_to 'Back', spell_filter_presetses_path %>
</div>
