<h1><%= @world_lore_entries.name %></h1>

<%= render @world_lore_entries %>

<div class="actions">
  <%= link_to 'Edit', edit_world_lore_entries_path(@world_lore_entries) %>
  <%= link_to 'Back', world_lore_entrieses_path %>
</div>
