<h1><%= @campaign_metrics.name %></h1>

<%= render @campaign_metrics %>

<div class="actions">
  <%= link_to 'Edit', edit_campaign_metrics_path(@campaign_metrics) %>
  <%= link_to 'Back', campaign_metricses_path %>
</div>
