<h1><%= @player_engagements.name %></h1>

<%= render @player_engagements %>

<div class="actions">
  <%= link_to 'Edit', edit_player_engagements_path(@player_engagements) %>
  <%= link_to 'Back', player_engagementses_path %>
</div>
