<h1><%= @character_features::progression::progressions.name %></h1>

<%= render @character_features::progression::progressions %>

<div class="actions">
  <%= link_to 'Edit', edit_character_features::progression::progressions_path(@character_features::progression::progressions) %>
  <%= link_to 'Back', character_features::progression::progressionses_path %>
</div>
