<h1>Character Features::relationships::relationshipses</h1>

<div id="character_features::relationships::relationshipses">
  <% @character_features::relationships::relationshipses.each do |character_features::relationships::relationships| %>
    <%= render character_features::relationships::relationships %>
  <% end %>
</div>

<%= link_to 'New Character Features::relationships::relationships', new_character_features::relationships::relationships_path %>
