<h1><%= @character_features::relationships::relationships.name %></h1>

<%= render @character_features::relationships::relationships %>

<div class="actions">
  <%= link_to 'Edit', edit_character_features::relationships::relationships_path(@character_features::relationships::relationships) %>
  <%= link_to 'Back', character_features::relationships::relationshipses_path %>
</div>
