<h1><%= @homebrew::classes.name %></h1>

<%= render @homebrew::classes %>

<div class="actions">
  <%= link_to 'Edit', edit_homebrew::classes_path(@homebrew::classes) %>
  <%= link_to 'Back', homebrew::classeses_path %>
</div>
