<h1><%= @campaign_discovery.name %></h1>

<%= render @campaign_discovery %>

<div class="actions">
  <%= link_to 'Edit', edit_campaign_discovery_path(@campaign_discovery) %>
  <%= link_to 'Back', campaign_discoveries_path %>
</div>
