<h1><%= @vtt_sessions.name %></h1>

<%= render @vtt_sessions %>

<div class="actions">
  <%= link_to 'Edit', edit_vtt_sessions_path(@vtt_sessions) %>
  <%= link_to 'Back', vtt_sessionses_path %>
</div>
