<h1><%= @generated_treasures.name %></h1>

<%= render @generated_treasures %>

<div class="actions">
  <%= link_to 'Edit', edit_generated_treasures_path(@generated_treasures) %>
  <%= link_to 'Back', generated_treasureses_path %>
</div>
