<h1><%= @character_classes.name %></h1>

<%= render @character_classes %>

<div class="actions">
  <%= link_to 'Edit', edit_character_classes_path(@character_classes) %>
  <%= link_to 'Back', character_classeses_path %>
</div>
