<h1><%= @adventure_templates.name %></h1>

<%= render @adventure_templates %>

<div class="actions">
  <%= link_to 'Edit', edit_adventure_templates_path(@adventure_templates) %>
  <%= link_to 'Back', adventure_templateses_path %>
</div>
