<h1><%= @quest_objectives.name %></h1>

<%= render @quest_objectives %>

<div class="actions">
  <%= link_to 'Edit', edit_quest_objectives_path(@quest_objectives) %>
  <%= link_to 'Back', quest_objectiveses_path %>
</div>
