<h1>New Character Features::builder::character Builder</h1>

<%= render 'form', character_features::builder::character_builder: @character_features::builder::character_builder %>

<%= link_to 'Back', character_features::builder::character_builders_path %>
