<h1><%= @ai_dm_assistants.name %></h1>

<%= render @ai_dm_assistants %>

<div class="actions">
  <%= link_to 'Edit', edit_ai_dm_assistants_path(@ai_dm_assistants) %>
  <%= link_to 'Back', ai_dm_assistantses_path %>
</div>
