<h1><%= @content_libraries.name %></h1>

<%= render @content_libraries %>

<div class="actions">
  <%= link_to 'Edit', edit_content_libraries_path(@content_libraries) %>
  <%= link_to 'Back', content_librarieses_path %>
</div>
