<h1>Edit Character Features::homebrew::homebrews</h1>

<%= render 'form', character_features::homebrew::homebrews: @character_features::homebrew::homebrews %>

<%= link_to 'Back', character_features::homebrew::homebrewses_path %>
