<h1>Character Features::homebrew::homebrewses</h1>

<div id="character_features::homebrew::homebrewses">
  <% @character_features::homebrew::homebrewses.each do |character_features::homebrew::homebrews| %>
    <%= render character_features::homebrew::homebrews %>
  <% end %>
</div>

<%= link_to 'New Character Features::homebrew::homebrews', new_character_features::homebrew::homebrews_path %>
