<h1><%= @character_features::sheet::character_sheets.name %></h1>

<%= render @character_features::sheet::character_sheets %>

<div class="actions">
  <%= link_to 'Edit', edit_character_features::sheet::character_sheets_path(@character_features::sheet::character_sheets) %>
  <%= link_to 'Back', character_features::sheet::character_sheetses_path %>
</div>
