<h1><%= @character_features::ai_assistant::ai_assistant.name %></h1>

<%= render @character_features::ai_assistant::ai_assistant %>

<div class="actions">
  <%= link_to 'Edit', edit_character_features::ai_assistant::ai_assistant_path(@character_features::ai_assistant::ai_assistant) %>
  <%= link_to 'Back', character_features::ai_assistant::ai_assistants_path %>
</div>
