<h1><%= @solo_game_states.name %></h1>

<%= render @solo_game_states %>

<div class="actions">
  <%= link_to 'Edit', edit_solo_game_states_path(@solo_game_states) %>
  <%= link_to 'Back', solo_game_stateses_path %>
</div>
