<h1><%= @character_features::spells::spell_managers.name %></h1>

<%= render @character_features::spells::spell_managers %>

<div class="actions">
  <%= link_to 'Edit', edit_character_features::spells::spell_managers_path(@character_features::spells::spell_managers) %>
  <%= link_to 'Back', character_features::spells::spell_managerses_path %>
</div>
