<h1><%= @game_sessions.name %></h1>

<%= render @game_sessions %>

<div class="actions">
  <%= link_to 'Edit', edit_game_sessions_path(@game_sessions) %>
  <%= link_to 'Back', game_sessionses_path %>
</div>
