<h1>Character Features::noteses</h1>

<div id="character_features::noteses">
  <% @character_features::noteses.each do |character_features::notes| %>
    <%= render character_features::notes %>
  <% end %>
</div>

<%= link_to 'New Character Features::notes', new_character_features::notes_path %>
